/.backups.d
/.cache
.custom.el
/elpa
.lsp-session-v1
/auto-save-list
bookmarks
session.*
recentf
/transient
/url
/var
/games
/pravila.el
tramp
ido.last
/eshell
\#*\#
recentf*
async-bytecomp.log
/backup/
/emacs-init.org
/tutorial/
